.box {
  width: 600px;
  height: 912px;

  /* display: flex; */
  outline: 1px solid greenyellow;
}

.basket {
  width: 200px;
  /* height: 100; */

  overflow-y: scroll;
  /* height: fit-content; */
  outline: 1px solid plum;
}
