.constructorWindow {
  width: auto;
  padding-right: 8px;
  padding-left: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
  outline: 1px solid red;
  display: flex;
  overflow-y: scroll;
}

.constructorWindow::-webkit-scrollbar {
  width: 8px;
}
.constructorWindow::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.constructorWindow::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  /* color: #2f2f37; */
  /* outline: 1px solid slategrey; */
}

.topItem {
  width: auto;
  padding-right: 8px;
  padding-left: 48px;
  outline: 1px solid red;
  display: flex;
}

.item {
  /* padding-right: 8px; */
  margin-left: auto;
  outline: 1px solid greenyellow;
}

.border {
  margin-left: 40px;
  width: 600px;
  height: 650px;
  margin-top: 100px;
  /* margin-right: 380px; */
  /* padding: 20px 16px; */
  margin-left: auto;
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.orderDetails {
  /* width: 600px; */
  /* height: 650px; */
  margin-top: 40px;
  /* margin-left: auto; */
  padding-right: 16px;
  /* margin-right: 380px; */
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: 1px solid red;
}

.price {
  margin-right: 40px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
